In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Q1. Write a python program to display all the header tags from wikipedia.org.

In [2]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup=BeautifulSoup(page.content)
header=[]
for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)
import pandas as pd
df=pd.DataFrame({'Header Tags':header})
df

                     Header Tags
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [19]:
imdb_movies=requests.get('https://www.imdb.com/list/ls055592025/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup=BeautifulSoup(imdb_movies.content)
data=soup.find_all('h3',class_="lister-item-header")
movies_name=[]
for i in data:
    for j in i.find_all('a'):
        movies_name.append(j.text)
rating=[]
for j in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(j.text.replace('\n',''))
yor=[]
for k in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    yor.append(k.text.replace('(','').replace(')',''))
import pandas as pd
import numpy as np
df=pd.DataFrame({'Name':movies_name,'Rating':rating,'Year of Release':yor})
print("IMDB’s Top rated 100 movies’ data")
df.index = np.arange(1,len(df)+1)
df

IMDB’s Top rated 100 movies’ data

                                              Name Rating Year of Release
1                         The Shawshank Redemption    9.3            1994
2                                    The Godfather    9.2            1972
3    The Lord of the Rings: The Return of the King      9            2003
4                            The Godfather Part II      9            1974
5                                 Schindler's List      9            1993
..                                             ...    ...             ...
96                             Yankee Doodle Dandy    7.6            1942
97                               Wuthering Heights    7.5            1939
98                               American Graffiti    7.4            1973
99                             Terms of Endearment    7.4            1983
100                           An American in Paris    7.2            1951

[100 rows x 3 columns]

# Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [20]:
ind_movies=requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup=BeautifulSoup(ind_movies.content)
d1=soup.find_all('td',class_="titleColumn")
movies_name=[]
for i in d1:
    for j in i.find_all('a'):
        movies_name.append(j.text)
rating=[]
for j in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(j.text.replace('\n',''))
yor=[]
for k in soup.find_all('span',class_="secondaryInfo"):
    yor.append(k.text.replace('(','').replace(')',''))
import pandas as pd
import numpy as np
data=pd.DataFrame({'Name':movies_name,'Rating':rating,'Year of Release':yor})
print("IMDB’s Top rated 100 Indian movies’ data")
df.index = np.arange(1,len(df)+1)
df.head(100)

IMDB’s Top rated 100 Indian movies’ data

                                              Name Rating Year of Release
1                         The Shawshank Redemption    9.3            1994
2                                    The Godfather    9.2            1972
3    The Lord of the Rings: The Return of the King      9            2003
4                            The Godfather Part II      9            1974
5                                 Schindler's List      9            1993
..                                             ...    ...             ...
96                             Yankee Doodle Dandy    7.6            1942
97                               Wuthering Heights    7.5            1939
98                               American Graffiti    7.4            1973
99                             Terms of Endearment    7.4            1983
100                           An American in Paris    7.2            1951

[100 rows x 3 columns]

# Q4. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [6]:
indian_president=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup=BeautifulSoup(indian_president.content)
pres=soup.find_all('div',class_="presidentListing")
name=[]
for i in pres:
    for j in i.find_all('h3'):
        name.append(j.text.replace('\n',''))
term=[]
for a in pres:
    for b in a.find_all('p'):
        term.append(b.text)
del term[1:9:2]
import pandas as pd
df= pd.DataFrame({'Name':name, 'Term of Office':term})
df1=df.set_index('Name')
df1

                                                                                Term of Office
Name
Shri Ram Nath Kovind (birth - 1945)            Term of Office: 25 July, 2017 to 25 July, 2022
Shri Pranab Mukherjee (1935-2020)              Term of Office: 25 July, 2012 to 25 July, 2017
Smt Pratibha Devisingh Patil (birth - 1934)    Term of Office: 25 July, 2007 to 25 July, 2012
DR. A.P.J. Abdul Kalam (1931-2015)             Term of Office: 25 July, 2002 to 25 July, 2007
Shri K. R. Narayanan (1920 - 2005)             Term of Office: 25 July, 1997 to 25 July, 2002
Dr Shankar Dayal Sharma (1918-1999)            Term of Office: 25 July, 1992 to 25 July, 1997
Shri R Venkataraman (1910-2009)                Term of Office: 25 July, 1987 to 25 July, 1992
Giani Zail Singh (1916-1994)                   Term of Office: 25 July, 1982 to 25 July, 1987
Shri Neelam Sanjiva Reddy (1913-1996)          Term of Office: 25 July, 1977 to 25 July, 1982
Dr. Fakhruddin Ali Ahmed (1905-1977)         Term of Office: 24 August, 1974 to 11 February...
Shri Varahagiri Venkata Giri (1894-1980)     Term of Office: 3 May, 1969 to 20 July, 1969 a...
Dr. Zakir Husain (1897-1969)                       Term of Office: 13 May, 1967 to 3 May, 1969
Dr. Sarvepalli Radhakrishnan (1888-1975)          Term of Office: 13 May, 1962 to 13 May, 1967
Dr. Rajendra Prasad (1884-1963)               Term of Office: 26 January, 1950 to 13 May, 1962

# Q5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [7]:
cricket=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(cricket.content)
team=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
m1=[]
for j in soup.find_all('td',class_="rankings-block__banner--matches"):
    m1.append(j.text)
m2=[]
for k in soup.find_all('td',class_="table-body__cell u-center-text"):
    m2.append(k.text)
del m2[1:39:2]
matches=m1+m2
p1=[]
for l in soup.find_all('td',class_="rankings-block__banner--points"):
    p1.append(l.text)
p2=[]
for m in soup.find_all('td',class_="table-body__cell u-center-text"):
    p2.append(m.text)
del p2[0:39:2]
points=p1+p2
r1=[]
for n in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    r1.append(n.text.replace('\n',''))
r2=[]
for o in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    r2.append(o.text)
rating=r1+r2
import pandas as pd
import numpy as np
df=pd.DataFrame({'Team':team,'Matches':matches,'Points':points,'Rating':rating})
print('Top 10 ODI teams in men’s cricket :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI teams in men’s cricket :

,Team,Matches,Points,Rating
1,New Zealand,26,"3,045",117 ...
2,England,30,"3,400",113
3,Australia,32,"3,572",112
4,India,41,"4,515",110
5,Pakistan,25,"2,649",106
6,South Africa,24,"2,392",100
7,Bangladesh,33,"3,129",95
8,Sri Lanka,34,"2,976",88
9,Afghanistan,20,"1,419",71
10,West Indies,41,"2,902",71

In [8]:
batsmen=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup=BeautifulSoup(batsmen.content)
p1=[]
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    p1.append(i.text)
p2=[]
for j in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    p2.append(j.text.replace('\n',''))
player=p1+p2
t1=[]
for a in soup.find_all('div',class_="rankings-block__banner--nationality"):
    t1.append(a.text.replace('\n',''))
t2=[]
for b in soup.find_all('span',class_="table-body__logo-text"):
    t2.append(b.text)
team=t1+t2
r1=[]
for n in soup.find_all('div',class_="rankings-block__banner--rating"):
    r1.append(n.text)
r2=[]
for o in soup.find_all('td',class_="table-body__cell rating"):
    r2.append(o.text)
rating=r1+r2
import pandas as pd
import numpy as np
df=pd.DataFrame({'Batsmen':player,'Team':team,'Rating':rating})
print('Top 10 ODI Batsmen :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI Batsmen :

                  Batsmen                     Team Rating
1              Babar Azam  PAK                        891
2   Rassie van der Dussen                       SA    766
3             Imam-ul-Haq                      PAK    764
4         Quinton de Kock                       SA    759
5            David Warner                      AUS    747
6             Virat Kohli                      IND    726
7             Steve Smith                      AUS    719
8            Rohit Sharma                      IND    715
9          Jonny Bairstow                      ENG    710
10           Fakhar Zaman                      PAK    695

In [9]:
bowlers=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup=BeautifulSoup(bowlers.content)
p1=[]
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    p1.append(i.text)
p2=[]
for j in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    p2.append(j.text.replace('\n',''))
player=p1+p2
t1=[]
for a in soup.find_all('div',class_="rankings-block__banner--nationality"):
    t1.append(a.text.replace('\n',''))
t2=[]
for b in soup.find_all('span',class_="table-body__logo-text"):
    t2.append(b.text)
team=t1+t2
r1=[]
for n in soup.find_all('div',class_="rankings-block__banner--rating"):
    r1.append(n.text)
r2=[]
for o in soup.find_all('td',class_="table-body__cell rating"):
    r2.append(o.text)
rating=r1+r2
import pandas as pd
import numpy as np
df=pd.DataFrame({'Bowlers':player,'Team':team,'Rating':rating})
print('Top 10 ODI Bowlers :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI Bowlers :

              Bowlers                    Team Rating
1         Trent Boult  NZ                        744
2      Josh Hazlewood                     AUS    727
3      Mitchell Starc                     AUS    665
4         Rashid Khan                     AFG    659
5          Matt Henry                      NZ    656
6          Adam Zampa                     AUS    655
7      Shaheen Afridi                     PAK    654
8     Shakib Al Hasan                     BAN    652
9   Mustafizur Rahman                     BAN    638
10   Mujeeb Ur Rahman                     AFG    637

# Q6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [11]:
women_cricket=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(women_cricket.content)
team=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
m1=[]
for j in soup.find_all('td',class_="rankings-block__banner--matches"):
    m1.append(j.text)
m2=[]
for k in soup.find_all('td',class_="table-body__cell u-center-text"):
    m2.append(k.text)
del m2[1:39:2]
matches=m1+m2
p1=[]
for l in soup.find_all('td',class_="rankings-block__banner--points"):
    p1.append(l.text)
p2=[]
for m in soup.find_all('td',class_="table-body__cell u-center-text"):
    p2.append(m.text)
del p2[0:39:2]
points=p1+p2
r1=[]
for n in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    r1.append(n.text.replace('\n',''))
r2=[]
for o in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    r2.append(o.text)
rating=r1+r2
import pandas as pd
import numpy as np
df=pd.DataFrame({'Team':team,'Matches':matches,'Points':points,'Rating':rating})
print('Top 10 ODI teams in Women’s cricket :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 ODI teams in Women’s cricket :

,Team,Matches,Points,Rating
1,Australia,18,"3,061",170 ...
2,England,28,"3,342",119
3,South Africa,26,"3,098",119
4,India,27,"2,820",104
5,New Zealand,25,"2,553",102
6,West Indies,27,"2,535",94
7,Bangladesh,13,983,76
8,Thailand,8,572,72
9,Pakistan,24,"1,519",63
10,Sri Lanka,8,353,44

In [12]:
women_batsmen=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup=BeautifulSoup(women_batsmen.content)
p1=[]
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    p1.append(i.text)
p2=[]
for j in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    p2.append(j.text.replace('\n',''))
player=p1+p2
t1=[]
for a in soup.find_all('div',class_="rankings-block__banner--nationality"):
    t1.append(a.text.replace('\n',''))
t2=[]
for b in soup.find_all('span',class_="table-body__logo-text"):
    t2.append(b.text)
team=t1+t2
r1=[]
for n in soup.find_all('div',class_="rankings-block__banner--rating"):
    r1.append(n.text)
r2=[]
for o in soup.find_all('td',class_="table-body__cell rating"):
    r2.append(o.text)
rating=r1+r2
import pandas as pd
import numpy as np
df=pd.DataFrame({'Batting Players':player,'Team':team,'Rating':rating})
print('Top 10 Womens ODI Battting Players :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 Womens ODI Battting Players :

        Batting Players                     Team Rating
1          Alyssa Healy  AUS                        785
2           Beth Mooney                      AUS    749
3       Laura Wolvaardt                       SA    732
4        Natalie Sciver                      ENG    731
5      Harmanpreet Kaur                      IND    716
6       Smriti Mandhana                      IND    714
7           Meg Lanning                      AUS    710
8        Rachael Haynes                      AUS    701
9   Chamari Athapaththu                       SL    655
10         Ellyse Perry                      AUS    642

In [13]:
women_allrounder=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup=BeautifulSoup(women_allrounder.content)
p1=[]
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    p1.append(i.text)
p2=[]
for j in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    p2.append(j.text.replace('\n',''))
player=p1+p2
t1=[]
for a in soup.find_all('div',class_="rankings-block__banner--nationality"):
    t1.append(a.text.replace('\n',''))
t2=[]
for b in soup.find_all('span',class_="table-body__logo-text"):
    t2.append(b.text)
team=t1+t2
r1=[]
for n in soup.find_all('div',class_="rankings-block__banner--rating"):
    r1.append(n.text)
r2=[]
for o in soup.find_all('td',class_="table-body__cell rating"):
    r2.append(o.text)
rating=r1+r2
import pandas as pd
import numpy as np
df=pd.DataFrame({'All-Rounder':player,'Team':team,'Rating':rating})
print('Top 10 Womens ODI All-Rounder :')
df.index = np.arange(1,len(df)+1)
df.head(10)

Top 10 Womens ODI All-Rounder :

          All-Rounder                     Team Rating
1        Ellyse Perry  AUS                        374
2     Hayley Matthews                       WI    373
3      Natalie Sciver                      ENG    371
4      Marizanne Kapp                       SA    349
5         Amelia Kerr                       NZ    336
6       Deepti Sharma                      IND    322
7    Ashleigh Gardner                      AUS    270
8       Jess Jonassen                      AUS    246
9      Jhulan Goswami                      IND    214
10  Sophie Ecclestone                      ENG    205

# Q7. rite a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline

ii) Time

iii) News Link

In [14]:
news = requests.get('https://www.cnbc.com/world/?region=world')
soup=BeautifulSoup(news.content)
headline = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
time = []
for j in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(j.text)
news_link = []
for k in soup.find_all('a',class_="LatestNews-headline"):
    news_link.append(k['href'])
import pandas as pd
df = pd.DataFrame({'Headline':headline, 'Time':time, 'News Link': news_link})
df1=df.set_index('Headline')
df1

,Time,News Link
Headline,,
Self-made millionaire: 3 habits to start in your 20s if you want to succeed,44 Min Ago,https://www.cnbc.com/2023/01/15/self-made-mill...
Want to sound more assertive? Ditch these 4 phrases that make you look 'weak or timid': Word experts,54 Min Ago,https://www.cnbc.com/2023/01/15/want-to-sound-...
The most-popular big tech default email programs are old and vulnerable,2 Hours Ago,https://www.cnbc.com/2023/01/15/the-most-popul...
State-run auto-IRA programs continue growing as more options launch,2 Hours Ago,https://www.cnbc.com/2023/01/15/state-run-auto...
Food fraud secretly infiltrates America. Here's how you can avoid it,2 Hours Ago,https://www.cnbc.com/2023/01/15/food-fraud-sec...
10 auto industry predictions for investors to keep an eye on this year,3 Hours Ago,https://www.cnbc.com/2023/01/15/ten-auto-indus...
Mark Cuban on the company that made him rich: ‘People thought I was an idiot’,3 Hours Ago,https://www.cnbc.com/2023/01/15/mark-cuban-on-...
"Wall Street's favorite retail stocks include Amazon, a little-known shoe company",3 Hours Ago,https://www.cnbc.com/2023/01/15/wall-streets-f...
"A busy movie calendar will lead to a 15% jump in box office sales, JPMorgan says",3 Hours Ago,https://www.cnbc.com/2023/01/15/a-busier-movie...
These tactical trades are among Goldman's favorite ways to play earnings season,3 Hours Ago,https://www.cnbc.com/2023/01/15/these-tactical...
"More classified documents found at Biden’s Delaware home, White House counsel says",23 Hours Ago,https://www.cnbc.com/2023/01/14/white-house-sa...
"The biggest risks of using Bluetooth trackers like Apple AirTag, Tile",23 Hours Ago,https://www.cnbc.com/2023/01/14/the-biggest-se...
Veganuary: 3 ways to meet your protein goals on a plant-based diet,"January 14, 2023",https://www.cnbc.com/2023/01/14/veganuary-3-wa...
"Investing in last year's top 10 stocks is 'a recipe for disaster,' expert says","January 14, 2023",https://www.cnbc.com/2023/01/14/best-performin...
4 side hustles for introverts: Some can bring in tens of thousands of dollars,"January 14, 2023",https://www.cnbc.com/2023/01/14/side-hustles-f...
Here are the odds you'll win the $404 million Powerball jackpot,"January 14, 2023",https://www.cnbc.com/2023/01/14/powerball-odds...
The condo king of Miami is betting big on a new Fisher Island luxury project,"January 14, 2023",https://www.cnbc.com/2023/01/14/condo-king-mia...
"Carmakers upgrade lineups to meet high-end demand, scale back on less expensive cars","January 14, 2023",https://www.cnbc.com/2023/01/14/carmakers-upgr...
What it’s like to deliver for Amazon in new electric Rivian vans,"January 14, 2023",https://www.cnbc.com/2023/01/14/what-its-like-...
The bold bullish case to be made for U.S. stocks,"January 14, 2023",https://www.cnbc.com/2023/01/14/the-bold-bulli...
Earnings stars: Stocks expected to post the biggest profit growth of 2023,"January 14, 2023",https://www.cnbc.com/2023/01/14/earnings-stars...
Morgan Stanley says these are the most undervalued stocks this year,"January 14, 2023",https://www.cnbc.com/2023/01/14/stocks-like-di...
"Stocks on a roll. But overbought market, earnings key hurdles in the week ahead","January 14, 2023",https://www.cnbc.com/2023/01/14/investing-club...
The zero-fare public transit movement is picking up momentum,"January 14, 2023",https://www.cnbc.com/2023/01/14/zero-fare-publ...
"Building self-discipline by age 27 is crucial, says expert: 3 ways to do it","January 14, 2023",https://www.cnbc.com/2023/01/14/psychiatrist-f...
"Iran executes British-Iranian national despite UK, U.S. pleas","January 14, 2023",https://www.cnbc.com/2023/01/14/iran-executes-...
Rising commodities prices could be a tailwind for Caterpillar,"January 13, 2023",https://www.cnbc.com/2023/01/13/rising-commodi...
Cramer's lightning round: Costamare is not a buy,"January 13, 2023",https://www.cnbc.com/2023/01/13/cramers-lightn...
Cramer’s week ahead: Wait before trading on company earnings,"January 13, 2023",https://www.cnbc.com/2023/01/13/cramers-week-a...
CDC review finds it’s unlikely Pfizer booster carries stroke risk for seniors,"January 13, 2023",https://www.cnbc.com/2023/01/13/pfizer-covid-b...

# Q8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details :
i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [15]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup=BeautifulSoup(page.content)
title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
author = []
for j in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    author.append(j.text)
pub_date = []
for k in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    pub_date.append(k.text)
paper_url = []
for l in soup.find_all('a',class_="sc-5smygv-0 nrDZj"):
    paper_url.append(l['href'])
import pandas as pd
df1=pd.DataFrame({'Paper Title':title, 'Authors':author, 'Published Date':pub_date, 'Paper URL':paper_url})
df=df1.set_index('Paper Title')
df

Empty DataFrame
Columns: [Authors, Published Date, Paper URL]
Index: []

# Q9. Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

Answer :

In [16]:
dine = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(dine.content)
rest_name = []
for i in soup.find_all('div',class_="restnt-info cursor"):
    for j in i.find_all('a',class_="restnt-name ellipsis"):
        rest_name.append(j.text)
cui = []
for l in soup.find_all('div',class_="detail-info"):
    cui.append(l.text)
loc = []
for k in soup.find_all('div',class_="restnt-loc ellipsis"):
    loc.append(k.text)
rating = []
for m in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(m.text)
image_url = []
for n in soup.find_all('img',class_="no-img"):
    image_url.append(n['data-src'])
import pandas
df =pandas.DataFrame({'Restaurant Name':rest_name, 'Cuisine':cui, 'Location':loc, 'Ratings':rating, 'Image URL':image_url})
df1=df.set_index('Restaurant Name')
df1

,Cuisine,Location,Ratings,Image URL
Restaurant Name,,,,
Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
Jungle Jamboree,"₹ 1,680 for 2 (approx) | North Indian, Asian, ...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
Indian Grill Room,"₹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Q10. Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank

ii) Publication

iii) h5-index

iv) h5-median

In [17]:
page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup=BeautifulSoup(page.content)
rank=[]
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
pub=[]
for i in soup.find_all('td',class_="gsc_mvt_t"):
    pub.append(i.text)
h5_index = []
for k in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(k.text)
h5m = []
for l in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5m.append(l.text)
import pandas as pan
df = pan.DataFrame({'Rank':rank, 'Publication':pub, 'h5-index':h5_index, 'h5-median':h5m})
df1=df.set_index('Rank')
df1

Empty DataFrame
Columns: [Publication, h5-index, h5-median]
Index: []